/* styles.css */

/* Import Oxanium font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

/* Default styles for mobile (mobile-first approach) */
body {
    font-family: 'Oxanium', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-top: 20%;
}

h1 {
    font-size: 2.5em;
    color: #2c3e50;
}

/*p {
    font-size: 1.2em;
    color: #7f8c8d;
}*/
.description {
    margin-top: -70px;
    margin-left: -120px;
    font-size: 20px;
    font-family: 'Oxanium', sans-serif;
    color: #999;
}
/* Media query for tablets and larger screens */
@media (min-width: 768px) {
    body {
        margin-top: 10%;
    }

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1.5em;
    }
}

/* Media query for larger desktops */
@media (min-width: 1024px) {
    body {
        margin-top: 5%;
    }

    h1 {
        font-size: 4em;
    }

    p {
        font-size: 1.8em;
    }
}

#header {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Vertically center the content */
    padding: 20px; /* Adjust as needed for spacing */
}

.btn {
    position: relative;
    background-color: var(--main-color);
    color: var(--text-white);
    padding-right: 20px;
    padding-left: 10px;
    display: inline-flex;
    height: 1.2cm;
    width: 7cm;
    clip-path: var(--clip-path-3);
    overflow: hidden;
    border: none;
    margin-right: 10px;
    margin-left: 100px; 
    align-items: center;
    border-top-left-radius: 5px;  /* Round the top-left corner */
    border-bottom-left-radius: 5px; /* Round the bottom-left corner */
}

#welcome-button {
    font-family: 'Oxanium', sans-serif;
    font-size: var(--fontSize-6);
    top: -70px;
}

#blog-name {
    font-family: 'Oxanium', sans-serif;
    font-size: var(--fontSize-6);
    color: #2c3e50;
    position: relative;
    top: -70px;
}

:root {
    --clip-path-3: polygon(0% 0%, 90% 0, 100% 100%, 100% 100%, 0 100%);
    --text-white: white;
    --main-color: #008080;
    --fontSize-6: 40px;
    --weight-semiBold: 600;
}
