#header {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Vertically center the content */
    padding: 20px; /* Adjust as needed for spacing */
}

.btn {
    position: relative;
    background-color: var(--main-color);
    color: var(--text-white);
    padding-right: 20px;
    padding-left: 10px;
    display: inline-flex;
    height: 1.2cm;
    width: 7cm;
    clip-path: var(--clip-path-3);
    overflow: hidden;
    border: none;
    margin-left: 5%;
    align-items: center; /* Vertically center text inside the button */
}

#welcome-button {
    margin-right: 10px;
    font-family: 'Oxanium', sans-serif;
    font-size: var(--fontSize-6);
    top: -70px;
}

:root {
    --clip-path-3: polygon(0% 0%, 90% 0, 100% 100%, 100% 100%, 0 100%);
    --gradient-1: linear-gradient(to right bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%), hsl(192, 100%, 48%), hsl(185, 90%, 48%));
    --text-white: white;
    --main-color: #008080;
    --fontSize-6: 40px;
    --weight-semiBold: 600;
}
